/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
*Mobile Mix-ins
*(note that these mixins do not set every block. certain text and colors will need to be overridden. For the most part these mixins are universal)
*/
.white {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/ }
  .white h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .white h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .white h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .white p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .white ul {
    padding-bottom: 25px; }
  .white li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }
  .white h4 {
    padding-bottom: 25px; }

.grey {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  background-color: #ebebeb; }
  .grey h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .grey h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .grey h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .grey p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .grey ul {
    padding-bottom: 25px; }
  .grey li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }
  .grey img {
    margin-left: -5%;
    width: 110%; }

@media only screen and (min-width: 768px) {
  .white {
    padding: 59px 64px;
    /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/ }
    .white h2 {
      padding-bottom: 20px; }
    .white h3 {
      /*Use for medium titles on speakers tickets and sponsers*/
      padding: 20px 0; }
    .white h4 {
      /*Use for small titles on the home page and about page*/
      padding-top: 15px; }
    .white p {
      /*Used for the majority of the paragraph tags*/
      padding-bottom: 20px; }
    .white ul {
      padding-bottom: 30px; }
    .white h4 {
      padding-bottom: 25px; }

  .grey {
    padding: 59px 64px;
    /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
    background-color: #ebebeb; }
    .grey h2 {
      padding-bottom: 20px; }
    .grey h3 {
      /*Use for medium titles on speakers tickets and sponsers*/
      padding: 20px 0; }
    .grey h4 {
      /*Use for small titles on the home page and about page*/
      padding-top: 15px; }
    .grey p {
      /*Used for the majority of the paragraph tags*/
      padding-bottom: 20px; }
    .grey ul {
      padding-bottom: 30px; }
    .grey img {
      margin-left: 0;
      width: 100%; }

  .bump-over {
    padding-left: 451px !important; } }
header {
  position: absolute;
  height: 97px;
  width: 100%;
  border-bottom: 5px solid #ffffff; }
  header h2 {
    display: inline-block;
    width: 233px;
    margin: 36px 0 0 14px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 13.6px;
    font-weight: 800;
    line-height: 1.38;
    letter-spacing: 1.4px;
    color: #f5f5f5; }
  header nav {
    float: right;
    height: 50px;
    width: 43px;
    margin-top: 28px;
    margin-right: 5px;
    display: inline-block;
    background-image: url(images/bars.png);
    background-position: center;
    background-size: 100% 100%; }
    header nav ul {
      opacity: 0;
      position: absolute;
      top: 82px;
      right: 0;
      transition: opacity .5s, transform .5s; }
      header nav ul li {
        visibility: hidden;
        height: 0px; }
  header nav:hover ul {
    opacity: 1;
    transform: translateY(20px);
    width: 80%; }
    header nav:hover ul li {
      visibility: visible;
      height: 47px;
      width: 100%;
      background-color: #ffffff;
      border-bottom: 2px solid black; }
      header nav:hover ul li a {
        display: block;
        color: #ffae00;
        font-family: "Montserrat", sans-serif;
        font-size: 21px;
        font-weight: 500;
        line-height: 47px;
        letter-spacing: 1px;
        text-align: center;
        text-decoration: none; }
    header nav:hover ul li:last-of-type {
      border-bottom: 0; }

.hero, .hero-index {
  z-index: -1;
  top: 0;
  width: 92%;
  padding: 85px 0 85px 8%;
  background-color: grey;
  background-image: url(images/hero.jpg);
  background-position: left bottom;
  background-blend-mode: multiply; }
  .hero h1, .hero-index h1 {
    width: 240px;
    margin-top: 85px;
    margin-bottom: 30px;
    font-family: "Lora", serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.6px;
    color: #ffae00; }
  .hero div, .hero-index div {
    height: 5px;
    width: 108px;
    background-color: #ffffff; }

.hero-index h1 {
  font-size: 32px; }

@media only screen and (min-width: 768px) {
  header {
    height: 114px; }
    header h2 {
      font-size: 18px;
      width: 308px;
      margin: 38px 0 0 3%; }
    header nav {
      height: auto;
      width: 56%;
      margin-top: 0;
      margin-right: 0;
      background-image: none; }
      header nav ul {
        display: flex;
        justify-content: space-around;
        opacity: 1;
        position: static;
        transition: none; }
        header nav ul li {
          display: inline-block;
          visibility: visible;
          height: auto; }
          header nav ul li a {
            width: 100%;
            display: block;
            color: #f5f5f5;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 114px;
            letter-spacing: 1px;
            text-align: center;
            text-decoration: none; }
    header nav:hover ul {
      display: flex;
      justify-content: space-around;
      transform: none;
      width: auto; }
      header nav:hover ul li {
        display: inline-block;
        background-color: inherit;
        height: auto;
        width: auto;
        border-bottom: none; }
        header nav:hover ul li a {
          display: inline;
          color: #f5f5f5;
          font-family: "Montserrat", sans-serif;
          font-size: 14px;
          font-weight: 500;
          line-height: 114px;
          letter-spacing: 1px;
          text-align: center;
          text-decoration: none; }
        header nav:hover ul li a:hover {
          color: #ffae00; }
      header nav:hover ul li:last-of-type {
        border-bottom: 0; }

  .hero, .hero-index {
    padding: 119px 0 206px 8%; }
    .hero h1, .hero-index h1 {
      margin-top: 150px;
      margin-bottom: 50px;
      font-size: 36px;
      width: 80%; }

  .hero-index h1 {
    font-size: 72px; }

  .is-on {
    color: #ffae00 !important; } }
.tickets {
  position: static;
  top: 0;
  left: 0;
  margin: 80px 0 0 90px;
  display: block;
  height: 200px;
  width: 300px;
  margin: 13px auto;
  background-color: #c47c09;
  text-transform: uppercase; }
  .tickets h2 {
    padding: 40px 20px 31px;
    color: #f5f5f5;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.2px; }
  .tickets nav {
    height: 54px;
    width: 247px;
    margin: auto;
    border-radius: 5px;
    background-color: white; }
    .tickets nav a {
      display: block;
      width: 100%;
      height: 100%;
      color: #ffae00;
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.9px;
      text-align: center;
      text-decoration: none;
      line-height: 54px; }
  .tickets nav:hover {
    background: linear-gradient(white, lightgrey); }
  .tickets nav:active {
    background: linear-gradient(white, grey); }

.tickets-fixed {
  opacity: 1;
  position: fixed;
  top: 60px;
  left: 90px;
  margin: 0 !important; }

@media only screen and (min-width: 768px) {
  .tickets {
    z-index: 1;
    float: left;
    display: block;
    margin: 80px 0 0 90px; }
    .tickets nav {
      margin: 0 25px; }
      .tickets nav a {
        display: block;
        width: 100%;
        height: 100%;
        color: #ffae00;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.9px;
        text-align: center;
        text-decoration: none;
        line-height: 54px; }
    .tickets nav:hover {
      background: linear-gradient(white, lightgrey); }
    .tickets nav:active {
      background: linear-gradient(white, grey); } }
.goldcarrot {
  color: #ffae00;
  float: right; }

.tickets-text {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  border-bottom: 2px solid #ffae00; }
  .tickets-text h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .tickets-text h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .tickets-text h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .tickets-text p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .tickets-text ul {
    padding-bottom: 25px; }
  .tickets-text li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }
  .tickets-text .money {
    color: #ffae00;
    padding-top: 0;
    padding-bottom: 25px; }
  .tickets-text form {
    height: 54px;
    width: 83px;
    border: 2px solid black;
    margin-bottom: 30px; }
    .tickets-text form select {
      vertical-align: top;
      height: 100%;
      width: 100%;
      border: 0;
      background-color: white;
      color: #101010;
      font-family: "Montserrat", sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 2.25;
      letter-spacing: 1.2px; }

.total {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  margin: 0 10%; }
  .total h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .total h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .total h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .total p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .total ul {
    padding-bottom: 25px; }
  .total li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }
  .total input {
    height: 59px;
    width: 100%;
    border: 0;
    background-color: #ffae00;
    color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 59px;
    letter-spacing: 0.8px;
    text-align: center; }

.become-sponser {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/ }
  .become-sponser h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .become-sponser h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .become-sponser h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .become-sponser p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .become-sponser ul {
    padding-bottom: 25px; }
  .become-sponser li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }
  .become-sponser nav {
    height: 62px;
    width: 80%;
    margin: auto;
    background-color: #ffae00; }
    .become-sponser nav a {
      color: #f5f5f5;
      display: block;
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 62px;
      letter-spacing: 0.9px;
      text-align: center;
      text-decoration: none; }
    .become-sponser nav a:hover {
      background: linear-gradient(#ffae00, #c47c09); }
    .become-sponser nav a:active {
      background: linear-gradient(#ffae00, #313131); }

.sponsers {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  width: auto; }
  .sponsers h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .sponsers h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .sponsers h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .sponsers p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .sponsers ul {
    padding-bottom: 25px; }
  .sponsers li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }
  .sponsers h3 {
    padding-top: 30px;
    color: #ffae00;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 1px; }
  .sponsers img {
    padding: 0 9% 20px 0;
    height: 40%;
    width: 40%; }
  .sponsers .bigger {
    height: 60%;
    width: 60%; }
  .sponsers .mill {
    height: 100%;
    width: 91%; }

@media only screen and (min-width: 768px) {
  .become-sponser p {
    display: inline-block; }
  .become-sponser nav {
    float: right;
    width: 50%; }

  .sponsers img {
    padding: 0 9% 20px 0;
    height: 10%;
    width: 10%; }
  .sponsers div {
    display: inline-block;
    width: 40%; }
  .sponsers .silver {
    display: block;
    width: 80%; }
  .sponsers .bigger {
    height: 30%;
    width: 40%; }
  .sponsers .mill {
    height: 130%; } }
footer {
  background-color: #313131;
  width: 90%;
  height: 420px;
  padding: 0 5%; }
  footer h3 {
    color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 0;
    line-height: 24px;
    letter-spacing: 1.8px; }
  footer p {
    font-family: "Lora", serif;
    font-size: 15px;
    line-height: 24px;
    color: #f5f5f5;
    line-height: 1.6;
    padding-bottom: 15px;
    letter-spacing: 0.8px; }

.greybox {
  height: 370px;
  width: 100%;
  background-color: #ebebeb; }

iframe {
  height: 370px;
  width: 100%; }

.conference-locations {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  background-color: #ffae00; }
  .conference-locations h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .conference-locations h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .conference-locations h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .conference-locations p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .conference-locations ul {
    padding-bottom: 25px; }
  .conference-locations li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }
  .conference-locations h3 {
    font-weight: 700; }
  .conference-locations h4 {
    font-size: 18px; }

.contact {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  background-color: #ffffff; }
  .contact h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .contact h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .contact h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .contact p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .contact ul {
    padding-bottom: 25px; }
  .contact li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }
  .contact input {
    width: 100%; }
  .contact .message {
    height: 180px; }
  .contact input[type=submit] {
    width: 168px;
    height: 51px;
    background-color: #ffae00;
    float: right;
    color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 30px; }

.sponsorship {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/ }
  .sponsorship h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .sponsorship h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .sponsorship h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .sponsorship p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .sponsorship ul {
    padding-bottom: 25px; }
  .sponsorship li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }

input[type=submit] {
  width: 168px;
  height: 51px;
  background-color: #ffae00;
  color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center; }

.beforefirstsection {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  background-color: #ffffff; }
  .beforefirstsection h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .beforefirstsection h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .beforefirstsection h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .beforefirstsection p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .beforefirstsection ul {
    padding-bottom: 25px; }
  .beforefirstsection li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }

.firstsection {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  background-color: #ebebeb; }
  .firstsection h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .firstsection h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .firstsection h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .firstsection p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .firstsection ul {
    padding-bottom: 25px; }
  .firstsection li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }
  .firstsection .sessioncolor {
    color: #ffae00; }

.secondsection {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  background-color: #ffffff; }
  .secondsection h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .secondsection h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .secondsection h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .secondsection p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .secondsection ul {
    padding-bottom: 25px; }
  .secondsection li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }
  .secondsection .sessioncolor {
    color: #ffae00; }

.thirdsection {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  background-color: #ebebeb; }
  .thirdsection h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .thirdsection h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .thirdsection h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .thirdsection p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .thirdsection ul {
    padding-bottom: 25px; }
  .thirdsection li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }
  .thirdsection .sessioncolor {
    color: #ffae00; }

.lightingtalks {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  background-color: #ffffff; }
  .lightingtalks h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .lightingtalks h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .lightingtalks h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .lightingtalks p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .lightingtalks ul {
    padding-bottom: 25px; }
  .lightingtalks li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }

.fourthsection {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  background-color: #ebebeb; }
  .fourthsection h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .fourthsection h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .fourthsection h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .fourthsection p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .fourthsection ul {
    padding-bottom: 25px; }
  .fourthsection li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }
  .fourthsection .sessioncolor {
    color: #ffae00; }

.fifthsection {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  background-color: #ffffff; }
  .fifthsection h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .fifthsection h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .fifthsection h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .fifthsection p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .fifthsection ul {
    padding-bottom: 25px; }
  .fifthsection li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }
  .fifthsection .sessioncolor {
    color: #ffae00; }

.sixthsection {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  background-color: #ebebeb; }
  .sixthsection h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .sixthsection h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .sixthsection h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .sixthsection p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .sixthsection ul {
    padding-bottom: 25px; }
  .sixthsection li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }
  .sixthsection .sessioncolor {
    color: #ffae00; }

.seventhsection {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  background-color: #ffffff; }
  .seventhsection h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .seventhsection h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .seventhsection h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .seventhsection p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .seventhsection ul {
    padding-bottom: 25px; }
  .seventhsection li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }
  .seventhsection .sessioncolor {
    color: #ffae00; }

.closingkeynote {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  background-color: #ebebeb; }
  .closingkeynote h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .closingkeynote h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .closingkeynote h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .closingkeynote p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .closingkeynote ul {
    padding-bottom: 25px; }
  .closingkeynote li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }

.prizedrawing {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  background-color: #ffffff; }
  .prizedrawing h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .prizedrawing h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .prizedrawing h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .prizedrawing p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .prizedrawing ul {
    padding-bottom: 25px; }
  .prizedrawing li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }

.afterparty {
  padding: 25px 5%;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  background-color: #ebebeb; }
  .afterparty h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .afterparty h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .afterparty h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .afterparty p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .afterparty ul {
    padding-bottom: 25px; }
  .afterparty li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px;
    list-style: disc;
    list-style-position: inside; }

/*# sourceMappingURL=style.css.map */
