/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
*Mobile Mix-ins
*(note that these mixins do not set every block. certain text and colors will need to be overridden. For the most part these mixins are universal)
*/
header {
  position: absolute;
  height: 97px;
  width: 100%;
  border-bottom: 5px solid #ffffff; }
  header h2 {
    display: inline-block;
    width: 233px;
    margin: 36px 0 0 14px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 13.6px;
    font-weight: 800;
    line-height: 1.38;
    letter-spacing: 1.4px;
    color: #f5f5f5; }
  header nav {
    float: right;
    height: 50px;
    width: 43px;
    margin-top: 28px;
    margin-right: 5px;
    display: inline-block;
    background-image: url(images/bars.png);
    background-position: center;
    background-size: 100% 100%; }
    header nav ul {
      display: none; }

.hero, .hero-index {
  z-index: -1;
  top: 0;
  width: 95%;
  padding: 85px 0 85px 5%;
  background-color: grey;
  background-image: url(images/hero.jpg);
  background-position: left bottom;
  background-blend-mode: multiply; }
  .hero h1, .hero-index h1 {
    width: 240px;
    margin-top: 85px;
    margin-bottom: 30px;
    font-family: "Lora", serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.6px;
    color: #ffae00; }
  .hero div, .hero-index div {
    height: 5px;
    width: 108px;
    background-color: #ffffff; }

.hero-index h1 {
  font-size: 32px; }

.tickets {
  display: block;
  height: 200px;
  width: 70%;
  min-width: 281px;
  margin: 13px auto;
  background-color: #c47c09;
  text-transform: uppercase; }
  .tickets h2 {
    padding: 40px 20px 31px;
    color: #f5f5f5;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.2px; }
  .tickets nav {
    height: 54px;
    width: 247px;
    margin: auto;
    border-radius: 5px;
    background-color: white; }
    .tickets nav a {
      display: block;
      width: 100%;
      height: 100%;
      color: #ffae00;
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.9px;
      text-align: center;
      text-decoration: none;
      line-height: 54px; }
  .tickets nav:hover {
    background: linear-gradient(white, lightgrey); }
  .tickets nav:active {
    background: linear-gradient(white, grey); }

.tickets-text {
  margin: 0 20px;
  padding-top: 25px;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  border-bottom: 2px solid #ffae00; }
  .tickets-text h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .tickets-text h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .tickets-text h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .tickets-text p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .tickets-text li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px; }
  .tickets-text .money {
    color: #ffae00;
    padding-top: 0;
    padding-bottom: 25px; }
  .tickets-text form {
    height: 54px;
    width: 83px;
    border: 2px solid black;
    margin-bottom: 30px;
    padding-left: 15px; }
    .tickets-text form select {
      vertical-align: top;
      height: 100%;
      width: 100%;
      border: 0;
      background-color: white;
      color: #101010;
      font-family: "Montserrat", sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 2.25;
      letter-spacing: 1.2px; }

.sponsers {
  margin: 0 20px;
  padding-top: 25px;
  /*Used padding instead of margin so there wouldn't be an issue with seperation between colors and bottom borders*/
  width: auto; }
  .sponsers h2 {
    padding-bottom: 15px;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px; }
  .sponsers h3 {
    /*Use for medium titles on speakers tickets and sponsers*/
    padding: 15px 0;
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 1px; }
  .sponsers h4 {
    /*Use for small titles on the home page and about page*/
    padding-top: 10px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px; }
  .sponsers p {
    /*Used for the majority of the paragraph tags*/
    padding-bottom: 15px;
    color: #101010;
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .sponsers li {
    /*Used for the list iteams on the sponser page*/
    color: #101010;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.9px; }
  .sponsers h3 {
    padding-top: 30px;
    color: #ffae00;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 1px; }
  .sponsers img {
    padding: 0 9% 20px 0;
    height: 40%;
    width: 40%; }
  .sponsers .bigger {
    height: 60%;
    width: 60%; }
  .sponsers .mill {
    height: 100%;
    width: 100%; }

/*# sourceMappingURL=style.css.map */
