.conference-locations{
  @include mobile-text;
  background-color:$orange;
  h3{
    font-weight: 700;
  }
    h4{
      font-size: 18px;
    }
  }
  @media only screen and (min-width: 768px) {
    .conference-locations {
      display: inline-block;
      width: 30%;
      height: 513px;
    }
  }
