.beforefirstsection{
  @include mobile-text;
  background-color: $bar-white;
}
.firstsection{
  @include mobile-text;
  background-color:$grey;
  .sessioncolor{
    display: inline-block;
    color:$orange;
  }
}
.secondsection{
  @include mobile-text;
  background-color: $bar-white;
  .sessioncolor{
    display: inline-block;
    color:$orange;
  }
}
.thirdsection{
  @include mobile-text;
  background-color: $grey;
  .sessioncolor{
    display: inline-block;
    color:$orange;
  }
}
.lightingtalks{
  @include mobile-text;
  background-color: $bar-white;
}
.fourthsection{
  @include mobile-text;
  background-color: $grey;
  .sessioncolor{
    display: inline-block;
    color:$orange;
  }
}
.fifthsection{
  @include mobile-text;
  background-color: $bar-white;
  .sessioncolor{
    display: inline-block;
    color:$orange;
  }
}
.sixthsection{
  @include mobile-text;
  background-color: $grey;
  .sessioncolor{
    display: inline-block;
    color:$orange;
  }
}
.seventhsection{
  @include mobile-text;
  background-color: $bar-white;
  .sessioncolor{
    display: inline-block;
    color:$orange;
  }
}
.closingkeynote{
  @include mobile-text;
  background-color: $grey;
}
.prizedrawing{
  @include mobile-text;
  background-color: $bar-white;
}
.afterparty{
  @include mobile-text;
  background-color: $grey;
}
.goldcarrot{
  vertical-align: top;
  color: $orange;
  float: right;
  font-size: 40px;
}
.none{
  display: none;
}
