.become-sponser {
  @include mobile-text;
  nav {
    height: 62px;
    width: 80%;
    margin: auto;
    background-color: $orange;
    a {
      color: $text-white;
      display: block;
      font-family: $font-montserrat;
	    font-size: 18px;
	    font-weight: 700;
	    line-height: 62px;
	    letter-spacing: 0.9px;
	    text-align: center;
      text-decoration: none;
    }
    a:hover {
      background: linear-gradient($orange, $dark-orange);
    }
    a:active {
      background: linear-gradient($orange, $footer-black);
    }
  }
}
.sponsers {
  @include mobile-text;
  width: auto;
  h3 {
    padding-top: 30px;
    color: $orange;
    font-family: $font-montserrat;
	  font-size: 21px;
	  font-weight: 500;
	  line-height: 1.71;
	  letter-spacing: 1px;
  }
  img {
    padding: 0 9% 20px 0;
    height: 40%;
    width: 40%;
  }
  .bigger {
    height: 60%;
    width: 60%;
  }
  .mill {
    height: 100%;
    width: 91%;
  }
}
@media only screen and (min-width: 768px) {
 .become-sponser {
   p {
     display: inline-block;
   }
   nav {
     float: right;
     width: 50%;
   }
}
.sponsers {
  img {
    padding: 0 9% 20px 0;
    height: 10%;
    width: 10%;
  }
  .bigger {
    height: 30%;
    width: 20%;
  }
  .mill {
    height: 30%;
    width: 20%;
  }
  .bronze {
    display: inline-block;
  }
}
}
