//Fonts
$font-montserrat: "Montserrat", sans-serif;
$font-lorta: "Lora", serif;
//Colors
//Text Colors
$text-white: #f5f5f5;
$text-black: #101010;
//Container Colors
$bar-white: #ffffff;
$footer-black: #313131;
$grey: #ebebeb;
$orange: #ffae00;
//Sizes
